---
export interface Props {
  works: Array<{
    name: string;
    time: string;
    logo: string;
    text: string;
    largeText: string[];
    workMethod: string;
    projects: Array<{
      title: string;
      text: string;
    }>;
    technologies: Array<{
      name: string;
      logo: string;
    }>;
  }>;
}

const { works } = Astro.props;
---

<section>
  <div>
    {works.map((work, index) => (
    <a
      href={`/work/${index}-en`}
      class="card card-clickable work-card"
      data-work-name={work.name.toLowerCase().replace(/\s+/g, '_')}
      onclick="playTerminalSound()"
    >
        <div>
          <h3>{work.name}</h3>
          <p class="desc">{work.time}</p>
        </div>
        {work.largeText && work.largeText.length > 0 && (
          <ul>
            {work.largeText.map((text: string) => (
              <li>{text}</li>
            ))}
          </ul>
        )}
      </a>
    ))}
  </div>
</section>
